<section class="page-section bg-success text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Proje Hakkında</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Bu Web Sitesi Sakarya MYO , Bilgisayar Programcılığı Bölümünden 22210201083 Numaralı Hakan Can Samir tarafından İNTERNET PROGRAMCILIĞI II dersi için hazırlanmıştır.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Site tasarlanırken Boostrap kullanılarak hazırlanmış şablon kullanılmış. Onun üzerinden değişiklikler yapılmıştır.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download me-2"></i>
                Hazır Şablonun Linki !
            </a>
        </div>
    </div>
</section>