<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">ÖĞRENCİ</h4>
                <p class="lead mb-0">
                    Hakan Can Samir
                    <br />
                    22210201083
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">İLETİŞİM</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/simy404"><i class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://leetcode.com/asimetra404/"><img src="https://cdn.iconscout.com/icon/free/png-512/free-leetcode-3628297-3031905.png?f=webp&w=16" alt="Alternate Text" /></a>

            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Proje Amacı</h4>
                <p class="lead mb-0">
                    Derste öğrenilen bilgiler (HTML, CSS, Javascript, ASP.NET MVC vb.) kullanılarak bir web sitesi geliştirilmesi
                </p>
            </div>
        </div>
    </div>
</footer>
